.container {
  display: flex;
  flex-direction: column;
  padding: 63px 80px;
  position: relative;
}


.titleContent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  h3 {
    margin: 0px;
    padding: 0px;
    color: inherit;
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    display: unset;
  }
}
.textfield{
  display: flex;
  width:100%;
}
.captchafield{
  display: flex;
  width:100%;
  align-items: flex-end ;
  
  .captchaLabel{
    display: inline-block;
    width: 50px;
    margin-left: 6px;
  }
}

.relativeField {
  position: relative;
}

.disableCopy {
  input {
    color: white;
    font-size: 15px;
    opacity: 0.6;
  }
}

.registerPublicKey {
  width: 100px;
  transform: scale(0.75) translate(-17px);
  font-size: 17px;
  display: inline-block;
  color: rgba(255, 255, 255, 0.3);
}
